.banner-section {
    margin-top: $header-height;

    .banner {
        background-image: url("../images/ship_9.jpg");
        background-position: center center;
        background-attachment: fixed;
        color: white;
        width: 100vw;
        height: 200px;
        display: table-cell;
        vertical-align: middle;

        .title-background {
            display: flex;
            width: auto;
            justify-content: space-around;

            .title {
                font-size: $font-large;
                font-weight: 500;
                background: rgba(0, 0, 0, 0.45);
                padding: 20px 40px;;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .banner-section {
        .banner {
            display: relative;
            margin: 0;
            padding: 0;
        }
    }
}
