.banner-section {
    margin-top:$header-height;

    .banner {
        background-image: url("../images/ship5.jpg");
        background-position: center center;
        background-attachment: fixed;
        color: white;
        width: 100vw;
        height: 200px;
        display: table-cell;
        vertical-align: middle;

        h1 {
            text-align: center;
            font-size: 50px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 900px) {
    .banner-section {
        .banner {
            display: relative;
            margin: 0;
            padding: 0;
        }
    }
}
