.header-container {
    position: fixed;
    background-color: $white;
    height: $header-height;
    width: 100%;
    top: 0;

    .header-wrapper {
        display: flex;
        height: $header-height;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 500;
        align-items: center;

        background: url("../../assets/images/logo-header.svg");
        background-repeat: no-repeat;
        background-position: right -50px center;
        background-size: 100%;

        -webkit-box-shadow: 5px 19px 50px -1px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 19px 50px -1px rgba(0, 0, 0, 0.57);

        .header-logo {
            top: 0;
            left: 0;
            height: 100px;
            width: 10%;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .MuiSvgIcon-root {
            font-size: 32px;
            align-items: center;
            cursor: pointer;
            display: none;
        }

        .header {
            display: flex;

            .header-list {
                margin-block-start: 0;
                margin-block-end: 0;
                padding-inline-start: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                list-style-type: none;

                li {
                    padding-bottom: 8px;
                    &:hover {
                        border-bottom: solid $blue 2px
                    }
                }
                a {
                    text-decoration: none;
                    padding: 10px 20px 10px 20px;
                    color: $black;
                    font-size: $font-medium;
                    letter-spacing: 2px;
                    font-weight: 800;

                    &:visited {
                        color: $black;
                    }

                    &:hover {
                        color: $blue;
                        border-radius: 7px;
                    }
                }
            }
            .header-cover {
                background: $white;
                height: 100px;
                width: 100px;

                display: inline-block;
                
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    .header-container{
        .header-wrapper {
            background-position: right bottom;
        }
    } 
}
@media screen and (max-width: 900px) {
    .header-container{
        .header-wrapper {
            background: $white;
            height: $header-height;
            display: flex;
            justify-content: space-between;

            .header-logo {
                width: 70px;
                height: auto;
                margin: auto 0;
                margin-left: 20px;
                align-self: center;
            }

            .MuiSvgIcon-root {
                display: flex;
                align-self: flex-start;
                font-size: 36px;
                align-self: center;
                margin-right: 20px;
            }

            .header {
                height: 100%;
                width: 300px;
                background: $white;
                color: $black;
                position: fixed;
                left: -300px;
                transition: 300ms ease left;
                flex-direction: column-reverse;
                top:0;
                margin-top: $header-height;
                justify-content: flex-end;

                .header-cover {
                    display:none;
                }

                .header-list {
                    flex-direction: column;
                    margin: 0;

                    li {
                        text-align: left;
                        height: 100px;
                        display: flex;
                        width: auto;
                    }

                    a {
                        padding: 20px 15px;
                        width: 100%;

                        &:hover {
                            background: none;
                            color: $black;
                        }
                    }
                }
            }
            &.active {
                .header {
                    left: 0px;
                }
            }
        }
    }
}
