.header-container {
    position: fixed;
    background-color: $white;
    height: $header-height;
    width: 100%;
    top: 0;

    .header-wrapper {
        display: flex;
        height: $header-height;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 500;
        align-items: center;

        background: url("../images/logo-header.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 100%;

        -webkit-box-shadow: 5px 19px 50px -1px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 19px 50px -1px rgba(0, 0, 0, 0.57);

        .header-logo {
            top: 0;
            left: 0;
            height: 100px;
            width: 10%;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .MuiSvgIcon-root {
            font-size: 32px;
            align-items: center;
            cursor: pointer;
            display: none;
        }

        .header {
            display: flex;

            .header-list {
                margin-block-start: 0;
                margin-block-end: 0;
                padding-inline-start: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                list-style-type: none;

                a {
                    text-decoration: none;
                    padding: 10px 20px 10px 20px;
                    color: $black;
                    font-size: $font-small;
                    font-weight: 400;

                    &:visited {
                        color: $black;
                    }

                    &:hover {
                        color: $white;
                        background: $blue;
                        border-radius: 7px;
                    }
                }
            }
            .header-cover {
                background: $white;
                height: 100px;
                width: 100px;

                display: inline-block;
                
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .header-wrapper {
        background: $white;
        height: $header-height;
        display: flex;
        justify-content: space-between;

        .header-logo {
            width: 70px;
            height: auto;
            margin: auto 0;
            margin-left: 20px;
            align-self: center;
        }

        .MuiSvgIcon-root {
            display: flex;
            align-self: flex-start;
            font-size: 36px;
            align-self: center;
            margin-right: 20px;
        }

        .header {
            height: 100%;
            width: 300px;
            background: $white;
            position: fixed;
            left: -300px;
            transition: 300ms ease left;
            flex-direction: column-reverse;
            top: $header-height;

            .header-list {
                flex-direction: column;
                justify-content: flex-start;
                margin: 0;
                margin-top: 50px;

                li {
                    text-align: left;
                    height: $header-height;
                    display: flex;
                    width: auto;
                }

                a {
                    padding: 20px 15px;
                    width: 100%;

                    &:hover {
                        background: none;
                        color: $black;
                    }
                }
            }
        }
        &.active {
            .header {
                left: 0px;
            }
        }
    }
}
