.landing {
    .bg {
        top: 0;
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    div {
        width: 100%;
        display: block;
        margin-bottom: 100px;

        h1 {
            padding-top: 30px;
            padding-bottom: 50px;
            text-align: center;
            font-size: $font-large;
            letter-spacing: 15px;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            line-height: 1.6;
            font-size: $font-small;
        }
    }

    .image-one {
        background-image: url("../../assets/images/marvea_1.jpg");
    }
    .image-two {
        background-image: url("../../assets/images/ship-bow.jpg");
        height: 50vh;
    }
    .image-three {
        background-image: url("../../assets/images/ertea_1.jpg");
        height: 50vh;
    }
}

@media screen and (max-width: 900px) {
    .landing {
        .bg {
            width: 100%;
            background-attachment: scroll;
            background-size:cover; 
            background-position: center center;
        }
        .image-one {
            background-image: url("../../assets/images/ship-medcare-logo.jpg");
        }
        .image-two {
            background-image: url("../../assets/images/ship_9.jpg");
            background-size: 170% 100%;
            height: 50vh;
        }
        .image-three {
            background-image: url("../../assets/images/ertea_1.jpg");
            height: 50vh;
        }
    }
}

