.loading-page-container {
    width: 100%;
    .img-wrapper {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            max-width: 900px; 
        }
    }
}

@media screen and (max-width: 900px){
    .loading-page-container{
        img {
            margin-top:45%;
        }
    }
}
