.services {
    display: flex;

    .services-container {
        padding-top: 70px;

        .services-content {
            margin: 80px 100px;
            line-height: 1.4;
            font-weight: 400;

            span,
            h1,
            h2,
            h3,
            h4 {
                font-weight: 500;
                font-size: $font-large;
                padding: 20px 0 10px 0;
            }

            li {
                margin: 10px 0;
            }
            .services-text {
                margin-top: 30px;
                font-size: $font-small;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .services {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;

        .services-container {
            margin: 0;
            padding: 0;

            .services-content {
                margin: 10px;

                .services-text {
                    font-weight: 300;
                }
            }
        }
    }
}
