.fleet {
    margin-top:  $header-height;
    justify-content: space-around;

    .table-wrapper {
        margin-top: 70px;

        table {
            width: 100%;
            margin:0;
            margin-top: 50px;
            border-collapse: collapse;
            border-spacing: 0;
        }

        th {
            font-size: $font-medium;
            background: $white;
            height: 50px;
            text-align: center;
        }

        tbody {
            display: block;
        }

        tr {
            display: grid;
            background: $white;
            grid-template-columns: repeat(5, 1fr);
        }

        tr:nth-child(odd) {
            background: $blue-main;
        }

        td {
            margin: 20px;
            font-size: $font-small;
            font-weight: 300;
            text-align: center;

            .ship-video {
                width: 80%;
                height: 300px;
            }

            .MuiSvgIcon-root {
                float: right;
                display: inline;
                cursor: pointer;
            }
        }

        .expanded-row-content {
            grid-column: 1/-1;
            height: 100%;
            cursor: pointer;

            .iframe-loading {
                height: 300px;
                background: white;
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;    
                border: 3px solid grey;

                .MuiSvgIcon-root {
                    float: none;
                    font-size: 70px;
                    color: grey;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .table-wrapper {
        overflow-x: scroll;
        td {
            .ship-table-image {
                width: 100%;
            }
            .ship-video {
                width: 100%;
            }
        }
    }
}
