.sidebar-content-container {
    height: 100%;
    padding: 80px 30px 0 30px;

    .sidebar-title {
        color: $text-primary;
        margin-top: $header-height;
        padding-left: 20px;
        font-size: $font-large;
        font-weight: 400;
        width: 300px;
    }

    .sidebar-content-list {
        padding-left: 20px;
        padding-top: 30px;
        font-weight: 300;

        ul {
            padding: 0px;
            margin: auto auto;
        }

        li {
            padding: 0px;
            list-style-type: none;
            margin-top: 20px;

            a {
                font-size: $font-small;
                text-decoration: none;
                color: $text-primary;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .sidebar-content-container {
        padding: 0;
        position: relative;
        border: none;
        display: inline-block;
        width: 100%;
        height: auto;

        .sidebar-title {
            color: $text-primary;
            padding: 30px 0 0px 0;
            text-align: center;
            font-size: $font-large;
            width: 100%;
        }

        .sidebar-content-list {
            padding: 30px;
            font-weight: 300;

            li {
                display: block;
                text-align: center;
                border-bottom: 1px solid $text-primary;
            }
        }
    }
}
