$font-large: 24px;
$font-medium: 18px;
$font-small: 14px;

$header-height: 100px;

$black: #0d0d0d;
$white: #ffffff;
$grey: #7e7e7e;
$blue: #23487e;

$blue-text: #0059FF;
$blue-main: rgba(171, 221, 247, 0.5);

$background: #ffff;

$text-secondary: #f2f2f2;
$text-primary: #0d0d0d;


$font-list:  Neuzeit, -apple-system, system, Roboto;
@font-face {
  font-family: 'IBM Plex';
  src: local('IBM Plex'), url(../fonts/IBMPlexMono-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Neuzeit';
  src: local('Neuzeit'), url(../fonts/DIN_30640_std_neuzeit_grotesk_light.woff2) format('woff2');
}

