@import "./_variables";
@import "./_image-overlay";
@import "./_banner";
@import "./_header";

@import "./_home";
@import "./_company";
@import "./_side-bar";
@import "./_ship-table";
@import "./_ship-iframe";
@import "./_services";
@import "./_contact";

* {
    box-sizing: border-box;
}

html body {
    font-family: $font-list;
    font-weight: 500;
    background-color: $white;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

